Flask==0.10.1
Flask-SQLAlchemy==1.0
GitPython==0.3.2.1
Jinja2==2.7.2
MarkupSafe==0.18
SQLAlchemy==0.9.4
Twisted==13.2.0
Werkzeug==0.9.4
altgraph==0.10.2
bdist-mpkg==0.5.0
binify==0.1.6
colorama==0.3.2
docopt==0.6.1
git-up==1.2.2
gitdb==0.6.4
gunicorn==19.0.0
itsdangerous==0.23
macholib==1.5.1
modulegraph==0.10.4
numpy==1.8.0rc1
progressbar==2.3
psycopg2==2.5.3
py2app==0.7.3
pyOpenSSL==0.13.1
pygame==1.9.2pre
pyparsing==2.0.1
pysqlite==2.6.3
python-dateutil==1.5
pytz==2013.7
requests==2.2.1
scipy==0.13.0b1
simplejson==3.5.2
six==1.4.1
smmap==0.9.0
termcolor==1.1.0
vboxapi==1.0
virtualenv==1.11.2
wsgiref==0.1.2
xattr==0.6.4
zope.interface==4.1.1
