Flask==0.10.1
Flask-SQLAlchemy==1.0
GitPython==0.3.2.1
Jinja2==2.7.2
MarkupSafe==0.18
SQLAlchemy==0.9.4
Twisted==13.2.0
Werkzeug==0.9.4
altgraph==0.10.2
bdist-mpkg==0.5.0
binify==0.1.6
colorama==0.3.2
docopt==0.6.1
git-up==1.2.2
gitdb==0.6.4
gunicorn==19.0.0
itsdangerous==0.23
macholib==1.5.1
modulegraph==0.10.4
virtualenv==1.11.2

